<div>
  <div>
    <h1>
      List of all track moods
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new track mood
    </h2>

    <form action="/insert_track_mood" method="post">
      <div>
        <label for="track_id_box">
          Track
        </label>

        <input type="text" id="track_id_box" name="query_track_id">
      </div>

      <div>
        <label for="mood_id_box">
          Mood
        </label>

        <input type="text" id="mood_id_box" name="query_mood_id">
      </div>

      <button>
        Create track mood
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Track
        </th>

        <th>
          Mood
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_track_moods.each do |a_track_mood| %>
      <tr>
        <td>
          <%= a_track_mood.id %>
        </td>

        <td>
          <%= a_track_mood.track_id %>
        </td>

        <td>
          <%= a_track_mood.mood_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_track_mood.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_track_mood.updated_at) %> ago
        </td>

        <td>
          <a href="/track_moods/<%= a_track_mood.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
