<div>
  <div>
    <h1>
      List of all playlist tracks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new playlist track
    </h2>

    <form action="/insert_playlist_track" method="post">
      <div>
        <label for="playlist_id_box">
          Playlist
        </label>

        <input type="text" id="playlist_id_box" name="query_playlist_id">
      </div>

      <div>
        <label for="track_id_box">
          Track
        </label>

        <input type="text" id="track_id_box" name="query_track_id">
      </div>

      <div>
        <label for="position_box">
          Position
        </label>

        <input type="text" id="position_box" name="query_position">
      </div>

      <button>
        Create playlist track
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Playlist
        </th>

        <th>
          Track
        </th>

        <th>
          Position
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_playlist_tracks.each do |a_playlist_track| %>
      <tr>
        <td>
          <%= a_playlist_track.id %>
        </td>

        <td>
          <%= a_playlist_track.playlist_id %>
        </td>

        <td>
          <%= a_playlist_track.track_id %>
        </td>

        <td>
          <%= a_playlist_track.position %>
        </td>

        <td>
          <%= time_ago_in_words(a_playlist_track.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_playlist_track.updated_at) %> ago
        </td>

        <td>
          <a href="/playlist_tracks/<%= a_playlist_track.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
